{% extends 'template.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="containerSpace"></div>
<div class="containerConnexion">
  <div class="containerFormConnexion">
    <h2>Connexion</h2>
     {% if successMessage is defined %}
      <p class={{class}}>{{ successMessage }}</p>
    {% endif %}
    <form action="/portfolio/connexionRequest" method="post">
      <input type="mail" name="mail" placeholder="Email">
      <input type="password" name="password" placeholder="Mot de passe">
      <input type="submit" value="Valider">
    </form>
    <p>Pas encore de compte ? <a href="/portfolio/inscription">Inscrivez vous maintenant</a></p>
  </div>
</div>

{% endblock %}