{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="containerHeaderHome">
  <div class="backgroundHeader"></div>
  <div class="containerTitle">
    <h3>Hello !</h3>
    <h1>Je suis Tristan MEILLAT</h1>
    <h2>Développeur web Symfony</h2>
  </div>
  <ul class="socialList">
    <li><a href="https://www.linkedin.com/in/tristan-meillat-3b6845194/"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://github.com/MeillatTristan"><i class="fab fa-github"></i></a></li>
  </ul>
</div>

{% endblock %}