{% extends 'template.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="containerConnexion inscription">
  <div class="containerFormConnexion">
    <h2 class='inscriptionTitle'>Inscription</h2>
    <p class="required">Les champs requis sont marqués d'une *</p>
    {% if successMessage is defined %}
      <p class={{class}}>{{ successMessage }}</p>
    {% endif %}
    <form action="/portfolio/inscriptionRequest" method="post">
      <input type="text" required name="nom" placeholder="Nom*">
      <input type="text" required name="prenom" placeholder="Prénom*">
      <input type="email" required name="mail" placeholder="Email*">
      <input type="password" required name="password" placeholder="Mot de passe*">
      <input type="submit" value="Valider">
    </form>
    <p>Vous souhaitez vous connecter ? <a href="/portfolio/connexion">Cliquer ici</a></p>
  </div>
</div>

{% endblock %}
