<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% block css %} {% endblock %}public\assets\css\style.css">
  <script src="https://kit.fontawesome.com/836a2159df.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
  <title>{% block title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="public/assets/images/favicon/favicon.ico"/>
  {% block script %}
  
  {% endblock %}
</head>
<body>
{# header #}
  <header>
    <nav id="header">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><img src="{% block logoHeader %} {% endblock %}public/assets/images/logo.png" alt=""></label>
      <ul>
        <li><a class="firstLink" href="/portfolio/">Accueil</a></li>
        <li><a class="secondLink" href="/portfolio/posts">Articles</a></li>
        {% if session.user is defined %}
          <li><a class="fourthLink" href="/portfolio/deconnexion">Déconnexion</a></li>
        {% else %}
          <li><a class="fourthLink" href="/portfolio/connexion">Connexion</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
{# content #}
    <div class="containerGlobal">
      {% block body %}
      {% endblock %}
    </div>
  <footer>
    <div class="containerFooter">
      <div class="cardFooter">
        <img src="{% block logoFooter %} {% endblock %}public/assets/images/logo.png" alt="">
        <p>Copyright © 2021. All Rights Reserved MEILLAT Tristan.</p>
      </div>
      <div class="cardFooter">
        <h4>A propos</h4>
        <a href="/portfolio/mentions-legales">Mentions légal</a>
      </div>
      {% if session.user is defined %}
        {% if session.user.admin == 'y' %}
          <div class="cardFooter">
            <h4>Admin</h4>
            <a href="/portfolio/adminPosts">Accès à l'administration</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </footer>

</body>
</html>
